.jolly-theme--pageload {
  --jolly-outline: #ffca4f;
}
.jolly-theme--background {
  --jolly-outline: #383735;
}

.outer-circle {
  border: 1.3rem solid var(--jolly-outline);
  height: 95%;
  width: 95%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.negative-line {
  height: 115%;
  width: 25%;
  background: var(--color-background);
  position: absolute;
}
.negative-line.line01 {
  animation: rotate1 150s linear infinite;
}
.negative-line.line02 {
  animation: rotate2 150s linear infinite;
}
.negative-line.line03 {
  animation: rotate3 150s linear infinite;
}

.line {
  width: 1.3rem;
  height: 100%;
  background: var(--jolly-outline);
  position: absolute;
  animation: rotateline1 150s linear infinite;
}
.line.line02 {
  /* transform: rotate(60deg); */
  animation: rotateline2 150s linear infinite;
}
.line.line03 {
  /* transform: rotate(120deg); */
  animation: rotateline3 150s linear infinite;
}

.inner-circle {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 1.3rem solid var(--jolly-outline);
  background: var(--color-background);
  position: absolute;
  overflow: hidden;
}

.jolly-eye {
  width: 28%;
  height: 28%;
  background: var(--jolly-outline);
  border-radius: 50%;
  position: absolute;
  left: 10%;
  top: 18%;
}
.jolly-eye + .jolly-eye {
  left: auto;
  right: 10%;
}
.jolly-nose {
  width: 11%;
  height: 11%;
  border-radius: 50%;
  background: var(--jolly-outline);
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%);
}

.jolly-mouth {
  width: 350%;
  height: 350%;
  border: 1.3rem solid var(--jolly-outline);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -287%;
  transform: translate(-50%);
}

.jolly-teeth {
  height: 6.2rem;
  width: 1.3rem;
  background: var(--jolly-outline);
  position: absolute;
}
.jolly-teeth.teeth01 {
  bottom: 9%;
  left: 13%;
}
.jolly-teeth.teeth02 {
  height: 7.2rem;
  left: 35%;
  bottom: 0%;
}
.jolly-teeth.teeth03 {
  height: 7.2rem;
  bottom: 0%;
  right: 35%;
}
.jolly-teeth.teeth04 {
  bottom: 9%;
  right: 13%;
}

@keyframes rotate1 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(390deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(510deg);
  }
}
@keyframes rotateline1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateline2 {
  0% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(420deg);
  }
}

@keyframes rotateline3 {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
